<p id="notice"><%= notice %></p>

<%= image_tag (@list.picture.url),:size=> '600x300', :class=> "img-responsive" if @list.picture?  %>
<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @list.difficulty %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
